# ILI9163 display driver configuration options

# Copyright (c) 2017 Jan Van Winkel <jan.van_winkel@dxplore.eu>
# SPDX-License-Identifier: Apache-2.0

menuconfig ILI9163
	bool "ILI9163 display driver"
	depends on SPI
	help
	  Enable driver for ILI9163 display driver.

if ILI9163

choice
	prompt "LCD"
	default ILI9163_NHD_1_8_128160EF
	help
	  Specify the type of LCD connected to the ILI9163 display controller.

config ILI9163_NHD_1_8_128160EF
	bool "NHD 1.8\" 128160EF"

endchoice

choice
	prompt "Color pixel format"
	help
	  Specify the color pixel format of the ILI9163 display controller.

config ILI9163_RGB888
	bool "RGB888"

config ILI9163_RGB565
	bool "RGB565"

endchoice

endif # ILI9163
